#newPage
	h1 Post a new bulletin.
	form(id="submission", method="post", onsubmit="return postPage()", action="/postPage")
		textarea(id="pageText",name="pageText",placeholder="Text of your post goes here.")
		span.label
			| Last how many hours from posting?
		input(id="hours",name="hours",type="number",value="24")
		span.label
			| Allow how many views?
		input(id="loads",name="loads",type="number",value="10")
		.checkboxWithLabel
			input(id="strict",name="strict",type="checkbox")
			span.label.checkboxLabel
				| Count repeat visits from the same IP?
			.clear
		input(id="submitPage",type="submit")