form(id="login")
	input(id="username",name="username",type="text",placeholder="username")
	input(id="password",name="password",type="password",placeholder="password")
	input(type="submit",value="login")
	#feedback