extends page
block content
	#post
		:markdown
			### hi, hello
			I'm [Will Ruby](http://www.twitter.com/willruby). This is my sort of unconventional blog, its only ever the last thing I posted. It mostly is never used.
			
			Thanks for stopping by!