extends page
block content
	#post
		:markdown
			#About
			
			I'm [Will Ruby](http://www.twitter.com/willruby). This is my sort of unconventional blog, its only ever the last thing I posted.
			
			The code is available at [github](https://github.com/whatsim/onepage). All the content not on this page is guaranteed to not stick around. For more things I have done check out [www.willruby.com](http://www.willruby.com).
			
			Thanks for stopping by!