doctype html
html(lang="en")
	head
		title="One Page"
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(name='viewport', content='width=600, user-scalable=no')
		link(rel="favicon", href="/logo.svg")
		script(type="text/javascript",src="scripts/ready.min.js")
		block additionalHead
		script(src="//use.typekit.net/oyd3pvm.js")
		script
			| try{Typekit.load();}catch(e){}
	body
		#wrapper
			block content
			include includes/foot