doctype html
html(lang="en")
	head
		title="One Page"
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(name='viewport', content='width=520, user-scalable=no')
		link(rel="favicon", href="/logo.svg")
		script(type="text/javascript",src="scripts/ready.min.js")
		block additionalHead
	body
		#wrapper
			block content
			include includes/foot